[submodule "workspace/flutter/template"]
	path = workspace/flutter/template
	url = https://github.com/team-carbonic/carbonic-template-flutter.git

[submodule "workspace/flutter/portfolio/scandal"]
	path = workspace/flutter/portfolio/scandal
	url = https://github.com/team-carbonic/scandal.git