[submodule "workspace/flutter/template"]
	path = workspace/flutter/template
	url = git@github.com:team-carbonic/carbonic-template-flutter.git

[submodule "workspace/flutter/portfolio/scandal"]
	path = workspace/flutter/portfolio/scandal
	url = git@github.com:team-carbonic/scandal.git

[submodule "workspace/flutter/package/korea_region_code"]
	path = workspace/flutter/package/korea_region_code
	url = git@github.com:team-carbonic/korea-region-code.git
