<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools" package="com.sablue.sotwo">
  <!-- vguard -->
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- vguard -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- notification -->
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
  <!-- biometric -->
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <queries>
    <!-- vguard -->
    <package android:name="com.polarisoffice.vguardsecuone" />
    <!-- flutter_email_sender -->
    <intent>
      <action android:name="android.intent.action.SENDTO" />
      <data android:scheme="mailto" />
    </intent>
    <!-- http URL을 열 때 브라우저 사용 -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="http" />
    </intent>
    <!-- https URL을 열 때 브라우저 사용 -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>
  <application android:label="@string/app_name" android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher">
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop"
      android:theme="@style/LaunchTheme"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize"
      android:showWhenLocked="true" android:turnScreenOn="true">
      <!-- Notificaion Icon -->
      <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_stat_sotwo_symbol" />
      <meta-data android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/black" tools:replace="android:resource" />
      <!-- FCM Settings -->
      <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
      <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
      <!-- FCM Notification Channel -->
      <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="SAB_NOTIFICATION_CHANNEL_0" />
      <!-- Firebase Analytics Settings -->
      <meta-data android:name="google_analytics_automatic_screen_reporting_enabled"
        android:value="false" />
      <!--
			Specifies an Android theme to apply to this Activity as soon as
			the Android process has started. This theme is visible to the user
			while the Flutter UI initializes. After that, this theme continues
			to determine the Window background behind the Flutter UI.
			-->
      <meta-data android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!--
        android deep link setting
        deeplink를 처리하기 위한 다른 패키지(ex. app_links)를 사용하고자 한다면 아래 meta-data를 주석 처리한다.
        pathPattern은 일반 정규식과 다소 다른 규칙이 사용되는 점을 유의한다.
      -->
      <meta-data android:name="flutter_deeplinking_enabled" android:value="false" />
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" android:host="sotwo.com" android:pathPrefix="/deeplink" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="sotwo.com" android:pathPrefix="/deeplink" />
      </intent-filter>
      <!-- 해당 항목들은 반드시 따로 설정돼야 한다 -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="@string/onelink_host" />
      </intent-filter>
    </activity>
    <!--
		Don't delete the meta-data below.
		This is used by the Flutter tool to generate GeneratedPluginRegistrant.java
		-->
    <meta-data android:name="flutterEmbedding" android:value="2" />
  </application>
</manifest>