# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# android & ios
/local.properties
*.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

## Custom
# Legacy
legacy/*
.firebase
# ios의 GoogleService-Info.plist 파일은 flavor에 따라서 자동으로 생성됨
ios/Runner/GoogleService-Info.plist
# fastlane 실행시 자동으로 생성되는 파일
ios/fastlane/report.xml
# flavorizr 시행시 자동으로 생성되는 파일
*.tmp
*.tmp.*
# fvm
.fvm/