<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWMqBVpTuJTCCsuBtVrYKf_Bvi5PAchk4</string>
	<key>GCM_SENDER_ID</key>
	<string>648462857309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sablue.sotwo.dev</string>
	<key>PROJECT_ID</key>
	<string>sotwo-app-dev-44db3</string>
	<key>STORAGE_BUCKET</key>
	<string>sotwo-app-dev-44db3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648462857309:ios:c3cfa7cdd8d589bc38c9b4</string>
</dict>
</plist>